@model GardifyModels.Models.LexiconTermVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}

<h2>Bearbeiten</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 10, cols = 10 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<div class="form-horizontal">
    <h4>Verknüpfte Bilder</h4>
    <div class="form-group">
        <label class="control-label col-md-2"></label>
        <div class="image-wrapper col-md-10">
            @if (Model.Images != null && Model.Images.Any())
            {
                foreach (var img in Model.Images)
                {
                    <div class="tumbnail col-md-3">
                        <img title="@img.TitleAttr" src="@img.SrcAttr" alt="@img.AltAttr" />
                        <div class="caption">
                            <h3>@img.FullTitle</h3>
                            <p>@img.FullDescription</p>
                            @using (Html.BeginForm("delete-lexicon-image", "AdminAreaLexiconTerms"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("imageRefId", img.Id)
                                @Html.Hidden("entryId", Model.Id)
                                <input type="submit" value="Bild löschen" class="btn btn-default" />
                            }
                            <button data-toggle="collapse" href="#editMode@(img.Id)" type="button" class="btn btn-success">Ändern</button>
                            <div class="collapse" id="editMode@(img.Id)">
                                @using (Html.BeginForm("edit-image-creds", "AdminAreaLexiconTerms"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Hidden("imageId", img.Id)
                                    @Html.Hidden("entryId", Model.Id)
                                    <input type="text" placeholder="Autor" value="@img.Author" name="imageAuthor" class="form-control" />
                                    <input type="text" placeholder="Lizenz" value="@img.License" name="imageLicense" class="form-control" />
                                    <input type="submit" value="Speichern" class="btn btn-success" />
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Noch kein Bild hochgeladen</p>
            }
        </div>
    </div>
    <h4>Neues Bild hochladen</h4>
    @using (Html.BeginForm("upload-lexicon-image", "AdminAreaLexiconTerms", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("entryId", Model.Id)
        <div class="form-group">
            <label class="control-label col-md-2">Datei auswählen</label>
            <div class="col-md-10">
                <input type="file" name="imageFile" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Titel</label>
            <div class="col-md-10">
                <input class="form-control" name="imageTitle" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Bild-Autor</label>
            <div class="col-md-10">
                <input class="form-control" name="imageAuthor" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Lizenz-Quelle</label>
            <div class="col-md-10">
                <input class="form-control" name="imageLicense" type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Beschreibung</label>
            <div class="col-md-10">
                <textarea class="form-control" name="imageDescription" rows="2" cols="80"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Hochladen" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Zurück", "Index")
</div>
