@using GardifyNewsletter.Services
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<meta name="format-detection" content="telephone=no">*@

    @{
        <!-- Setting title and meta tags from appsettings.json -->
        var titelJaeger = Configuration.GetSection("SiteSettings")["Title1"];
        var metaDescriptionJaeger = Configuration.GetSection("SiteSettings")["MetaDescription1"];

    }

    <title>@ViewData["Title"] @titelJaeger</title>
    <meta name="description" content="@metaDescriptionJaeger">

    @{
        @Html.Raw(ViewData["MetaData"]);
    }
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/start.css?v=9" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @*<script src="~/js/moment-timezone-with-data-2012-2022.min.js"></script>*@
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/highlight.min.js"></script>
    @*<script src="~/js/tempusdominus-bootstrap-4.js"></script>*@
    <link href="~/css/calendar.css?v=1" rel="stylesheet" />
</head>

<body>
    <section class="a nav d-flex  flex-column justify-content-around letter-spacing">
        <div class="container  ">
            <div class="row box-a ">
                <!-- LOGO-->
                <div class="  col-xl-4 col-lg-4  col-md-4 align-self-end p-0 mt-2">
                    <a class="navbar-brandA  mb-1 mt-5" asp-page="/Index">
                        <img class="mt-2" alt="" src="/images/Gardify_Logo_Header_weiß.svg" width="#" height="60">
                    </a>
                </div>

            </div>
            <div class="row"><div class="col">&nbsp;</div></div>
        </div>
    </section>

    @RenderBody()
  


    @RenderSection("Scripts", required: false)
    <script>
        (function ($) {
            $(function () {
                $(document).off('click.bs.tab.data-api', '[data-hover="tab"]');
                $(document).on('mouseenter.bs.tab.data-api', '[data-toggle="tab"], [data-hover="tab"]', function () {
                    $(this).tab('show');
                });
            });
        })(jQuery);
        var scrollToAnchor = "";
        $('a').click(function (e) {
            console.log(e);
            console.log(e.target.baseURI.split("#")[1]);
        });
        $('.window-close').click(function () {
            $('.modal').modal('hide');
            window.open($(this).attr('href'), "_parent");
        });
        $(document).ready(function () {
            var pathname = location.pathname.split("/")[1];
            if (pathname == "") {
                pathname = "Start";
            }
            //  "[data-highlight="Startseite"]"
            $("#navbarNav").find("[data-highlight=\"" + pathname + "\"]").addClass("highlight-nav");
        });
        function scrollTo(hash) {
            scrollToAnchor = hash;
            var element_to_scroll_to = document.getElementById(hash);
            var ele = $("#" + hash);
            console.log("Ele:");
            console.log(ele.offset().top);
            $('html,body').animate({ scrollTop: $(ele).offset().top }, 'slow');
            if (element_to_scroll_to != null) {
                setTimeout(function () { element_to_scroll_to.scrollIntoView() }, 0);
            }
        }

        $('.modal').on('hidden.bs.modal', function (e) {
            scrollTo($(location).attr("href").split("#")[1]);
        });
    </script>
</body>

</html>
