
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul>
	<li>MinTemp: @ViewBag.MinTemp</li>
	<li>MaxTemp: @ViewBag.MaxTemp</li>
	<li>MinSpeed: @ViewBag.MinSpeed</li>
	<li>MaxSpeed: @ViewBag.MaxSpeed</li>
</ul>
<ul>
	<li>@ViewBag.conName1: @ViewBag.con1</li>
	<li>@ViewBag.conName2: @ViewBag.con2</li>
	<li>@ViewBag.conName3: @ViewBag.con3</li>
	<li>@ViewBag.conName4: @ViewBag.con4</li>
	<li>@ViewBag.conName5: @ViewBag.con5</li>
	<li>@ViewBag.conName6: @ViewBag.con6</li>
</ul>
<ul>
	<li>@ViewBag.dateConName1: @ViewBag.dateCon1</li>
	<li>@ViewBag.dateConName2: @ViewBag.dateCon2</li>
	<li>@ViewBag.dateConName3: @ViewBag.dateCon3</li>
	<li>@ViewBag.dateConName4: @ViewBag.dateCon4</li>
	<li>@ViewBag.dateConName5: @ViewBag.dateCon5</li>
	<li>@ViewBag.dateConName6: @ViewBag.dateCon6</li>
</ul>
<ul>
	<li>@ViewBag.triggerName1: @ViewBag.trigger1</li>
	<li>@ViewBag.triggerName2: @ViewBag.trigger2</li>
	<li>@ViewBag.triggerName3: @ViewBag.trigger3</li>
	<li>@ViewBag.triggerName4: @ViewBag.trigger4</li>
	<li>@ViewBag.triggerName5: @ViewBag.trigger5</li>
</ul>
<ul>
	<li>@ViewBag.AlertName1: @ViewBag.alert1</li>
	<li>@ViewBag.AlertName2: @ViewBag.alert2</li>
	<li>@ViewBag.AlertName3: @ViewBag.alert3</li>
	<li>@ViewBag.AlertName4: @ViewBag.alert4</li>
</ul>
