@model GardifyModels.Models.AdminDeviceListViewModel

@{
    ViewBag.Title = "Alle Devices";
    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}
@if (Model.StatusMessage != null)
{
    Html.RenderPartial("_modalStatusMessage", Model.StatusMessage);
}

<h2>Alle Devices</h2>

<p>
    @Html.ActionLink("neue Gerät", "Create")
</p>
<div class="articles-wrapper">
    @if (Model.DevicesListEntries != null && Model.DevicesListEntries.Any())
    {
        foreach (var item in Model.DevicesListEntries)
        {
            <div class="row">
                @if (item.DevicesImages != null && item.DevicesImages.Any())
                {
                    <div class="image-wrapper col-md-3">
                        <div class="title-image">
                            <img title="@item.DevicesImages.FirstOrDefault().TitleAttr" src="@item.DevicesImages.FirstOrDefault().SrcAttr" alt="@item.DevicesImages.FirstOrDefault().AltAttr" />
                        </div>
                        @foreach (var img in item.DevicesImages.Skip(1))
                        {
                            <div class="thumbnail col-md-4">
                                <img title="@img.TitleAttr" src="@img.SrcAttr" alt="@img.AltAttr" />
                            </div>
                        }
                    </div>
                }
                <div class="col-md-9">
                    <h3>@Html.ActionLink(item.Name, "Edit", new { id = item.Id }, new { style = "color: #000" })</h3>

                    @item.Note
                    <hr />
                    <b>NotifyForFrost: @item.notifyForFrost</b><br />
                    <b>notifyForWind: @item.notifyForWind</b><br />

                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-push-9">
                    <hr />
                    @Html.ActionLink("ändern", "Edit", new { id = item.Id }, new { style = "float: right; margin: 0 20px 0 0;", @class = "btn btn-default" })
                </div>
            </div>
            <hr />
        }

    }
    else
    {
        <p>Keine Artikel gefunden</p>
    }
</div>

