@model GardifyModels.Models.InsatPostEntry

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>InsatPostEntry</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PostId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PostId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Caption)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Caption)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MediaType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MediaType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MediaUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Timestamp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Timestamp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ThumbnailUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ThumbnailUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RelatedLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RelatedLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChildrenId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChildrenId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EditedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EditedBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EditedDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EditedDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Deleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Deleted)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
