@model GardifyModels.Models.NewsViewModels.InstaNewsViewModel

@{
    ViewBag.Title = "InstaPosts";
    Layout = "~/Views/Shared/_LayoutAdminArea.cshtml";
}
@*@if (Model.S != null)
{
    Html.RenderPartial("_modalStatusMessage", Model.StatusMessage);
}*@
<h2>Alle Insta News</h2>

<div>
    @if (Model.data != null && Model.data.Any())
    {
        foreach (var item in Model.data)
        {
            <div class="row">
                @if (item.media_url != null )
                {
                <div class="image-wrapper col-md-3">
                    @if (item.media_type == "IMAGE" || item.media_type == "CAROUSEL_ALBUM")
                    {
                        <div class="title-image">
                            <img style="max-height: 400px;" title="@item.media_url" src="@item.media_url" alt="@item.media_url" />
                        </div>
                    }
                    @if (item.media_type == "VIDEO")
                    {
                <div class="title-image">
                    <video controls width="330" height="250" src="@item.media_url" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></video>
                </div>
                    }

                </div>
                }
            <div class="col-md-9">
                <h3>@Html.ActionLink(item.username, "EditInstaPost", new { id = item.id }, new { style = "color: #000" })</h3>
                <h4>@Html.DisplayFor(model => item.timestamp)</h4>
                @if (item.caption == null)
                {
                    @item.caption
                }
                else if (item.caption.Length > 228)
                {
                @(item.caption.Substring(0, 228) + " ...")
                }
                else
                {
                @item.caption
                }
            </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-md-push-9">
                    <hr />
                    @Html.ActionLink("ändern", "EditInstaPost", new { id = item.id }, new { style = "float: right; margin: 0 20px 0 0;", @class = "btn btn-default" })
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <p>Es sind noch keine News vorhanden</p>
    }
</div>

