

@*<p>
    Hallo @Model.Receiver
    <br />
    <br />
    @Model.Text
    <br />

    <br />
    Viele Grüße,
    <br />
    @Model.Sender
</p>*@

<table border="0" cellspacing="0" width="100%">
    <tr>
        <td width="420">
            <p>
                Hallo @Model.Receiver
                <br />
                <br />
                @Model.Text
                <br />

                <br />
                Viele Grüße,
                <br />
                @Model.Sender
            </p>
        </td>
        <td></td>
    </tr>
</table>
